@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;400&family=Roboto:ital,wght@1,700&display=swap');

.title {
  font-family: 'Alexandria';
  text-align: center;
  padding: 0 0.75rem;
  font-size: 1.85rem;
}

@media (min-width : 750px) {
  .title {
    font-size: 2.125rem;
  }
}